.container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
h2{
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
}
li{
    border-bottom: 1px solid red;
    font-size: medium;
    margin-bottom: 10px;
}
.users{
    border: 3px solid red;
    border-radius: 20px;
    padding: 40px;
}
