@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
   animation: fadeIn 0.5s ease-in;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
.header{
  display: flex;
  justify-content: space-between;
}
input,button{
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    background-color: rgb(61, 211, 211);
    color: black;
}
button:hover{
    background-color:green;
    transition: background-color 0.5s ease;
}
