.container{
    display: flex;
    min-width:100vw;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    min-height: 100%;
    min-width: 100%;
    margin: none;
    border: none;
}