.profile {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border: 1px solid red;
}
.profile img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}
.profile p {
    margin: 0;
}